<html lang="ko">
<head>
    <meta charset="UTF-8">

    <!-- Boot strap -->
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .content{
            height: 75%;
        }
        .messageDiv{
            margin-top: 20px;
            margin-bottom: 50px;
        }
        .toDoDiv{

        }
        .custom-btn{
            font-size: 10px;
        }
        .panel-footer{
            height:10%;
            color:gray;
        }
    </style>

    <title>SmartBell</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="page-header">
                <h1>Home<small>HF_406</small></h1>
            </div>
        </div>
        <div class="content">
            
            <div class="jump_to_index_menu">
                <form action="./indexMenu/" method="GET">
                    <div class="input-group" name='menu1'>
                        <span class="input-group-addon">
                            <button type="submit" class="custom-btn btn btn-danger">InputMenu</button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="jump_to_index_order">
                <form action="./indexOrder/" method="GET">
                    <div class="input-group" name='menu1'>
                        <span class="input-group-addon">
                            <button type="submit" class="custom-btn btn btn-danger">InputOrder</button>
                        </span>
                    </div>
                </form>
            </div>
            
            <div class="jump_to_order_list">
                <form action="./indexOrder/OrderList" method="GET">
                    <div class="input-group" name='menu1'>
                        <span class="input-group-addon">
                            <button type="submit" class="custom-btn btn btn-danger">OrderList</button>
                        </span>
                    </div>
                </form>
            </div>
            
            <div class="jump_to_print_qr">
                <form action="./indexOrder/printQR" method="GET">
                    <div class="input-group" name='menu1'>
                        <span class="input-group-addon">
                            <button type="submit" class="custom-btn btn btn-danger">printQR</button>
                        </span>
                    </div>
                </form>
            </div>                                    
        </div>
        <div class="panel-footer">
            HF_406
        </div>
    </div>
</body>
</html>